{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
li{
align:center;
}
      a{
      text-decoration:none;
      }

    body{
    background-color:whitesmoke;
    }
      h1{
      color: Red;
      }
      h2{
      font-size: xx-large;
      }
    </style>
</head>
<body><center>



    <div>

        <h2 style="padding:5%;">Thank You... <span style="color:red;">&#10084;</span></h2>
      <h3><a href="{% url 'home' %}"> Click Here</a> for Home page </h3>

        </div>
    </center>

</body>
</html>